@charset "UTF-8";
* 
body {
	background: #ffffff;
	
	
	  
	  
	  
  }
  
  [contenteditable=true]:empty:before {
	  content: attr(data-placeholder);
	  display: block; /* For Firefox */
  }
  
  li[contenteditable=true]:hover, li[contenteditable=true].hovered, span[contenteditable=true]:hover, span[contenteditable=true].hovered {
	  border: 1px solid  #866ec7;
  }
  
  .rect:hover, a.hovered {
	  box-shadow: inset 0 0 0 1px #866ec7;
  }
  
  li[contenteditable=true]{
	  border: 1px ;
	  width: 100%;
	  padding: 2px;
	  margin: 0 0 5px 0;
  }
  
  ul {
	  list-style-type:none;
  }
  
  
  .container {
	  position: relative;
	margin-left: 10%;
	margin-right: 5%;
	  display: table;
	  height: 100%;
	  width: 85%;
  }
  
  .img_container {
	  position: relative;
	width:100%;
  }
  
  .column {
	  display: table-cell;
	  vertical-align: top;
	  width: 50%;
	  height: 100%;
	padding: 1rem;
	
	
  }
  
  #download_button {
	  position: fixed;
	  padding: 0;
	  text-align: center;
	  width: 10%;
	bottom: 50px;
	display: none;
  }
  
  .corrected {
	  background-color:#866ec759;
  }
  #col1{
	background-color:white;
   
  }
  
  #col2 {
	
	background-color: white;
	-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.5);
  -moz-column-rule: 1px solid rgba(28,110,164,0.5);
  column-rule: 1px solid rgba(28,110,164,0.5);
  border: 3px ridge #1C6EA4;
	border-color: #866ec7;
  
  }


.magnify img {
	display:block;
}

.element_to_magnify {
	position: relative;
	width:100%;
  	height:100%;
  	overflow: hidden;
}
.element_to_magnify a {
  display:block;
  position:absolute;
  top:80px;
  right:80px;
  
  padding:4px;
  font-size:18px;
  color:#fff;
}
.element_to_magnify img{
	width: 100%;
	height: auto;
}
.magnified_element {
	
}

.magnify_glass {
	z-index: 300;
	position: absolute;
	border: 4px solid #CCC;
	border-radius: 10%;
	width: 150px;
	height: 150px;
	overflow:hidden;
	box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0
}

